<div class="container">
    <div class="jumbotron">

        <h1 class="text-info text-center">Things For Do</h1>

        <div class="form-group mt-4">
            <label for="">What is going to do?</label>
            <div [formGroup]="Formulario" class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Write your homework" formControlName="things" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-dark" type="button" *ngIf="Formulario.valid" (click)='ObtenerThings()' id="button-addon2">Save Homework</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-inverse text-center">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Task</th>
                            <th>Date Craete</th>
                            <th>Change Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let thing of Things">
                            <td scope="row">{{thing.thing}}</td>
                            <td>{{thing.created_date|date:'dd/MM/yyyy'}}</td>
                            <td>
                                <button type="button" class="btn" [ngClass]="{'btn-outline-success': thing.complete, 'btn-outline-danger': !thing.complete}" (click)="CambiarStatus(thing)">
                                    <span *ngIf="!thing.complete">Finalizar Tarea</span>
                                    <span *ngIf="thing.complete">Tarea Finalizada</span>
                                </button>

                                <button type="button" (click)="EliminarTarea(thing._id)" class="btn btn-outline-secondary ml-2">¿Eliminar Tarea?</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>